@keyframes moveY_projects {
  0% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0);
  }
}
section#projetos {
  width: 100vw;
  height: 105vh;
  opacity: 1;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  background-image: url(_images/laptop-g49717437d_1920.jpg);
  background-size: cover;
  z-index: 10000;
  transition: all ease 1s;
}

.projects {
  display: flex;
  margin: 2rem 0px 2rem 0px;
  width: 2000px;
  transition: all ease 1s;
  
}
.card {
  width: 20rem;
  height: 30rem;
  background-color: #212025;
  border-radius: 15px;
  margin: 0 0 0 0;
  position: relative;
  justify-content: center;
  align-items: center;
  transform: scale(0.9);
  transition: all 0.5s;
}
.card:hover {
  transform: scale(1);
  transition: all 0.5s;
}
.card-image-wrapper {
  width: 100%;
  height: 100%;
  background-color: #00000085;
}
.card-image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}
.card-info {
  position: absolute;
  bottom: 200px;
  opacity: 0;
  transition: all 0.3s;
}
.card-info:hover {
  opacity: 1;
  animation: moveY_projects 0.4s;
  transition: all 0.3s;
}
.card-info h2 {
  font-size: 30pt;
  color: #6000c0;
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: #ffffff;
  font-family: "Baloo 2";
}
.card-info p{
  color: rgb(60, 0, 255);
}
.button-projects {
  width: 200px;
  padding: 10px;
  font-family: "Baloo 2";
  background: -webkit-linear-gradient(to right, #a044ff, #6a3893);
  background: linear-gradient(to right, #6000c0, #5f179b);
  text-transform: uppercase;
  border-radius: 10px;
  letter-spacing: 1px;
  border: 0;
  font-size: 10pt;
  cursor: pointer;
  transition: all 1s;
  opacity: 0.6;
  color: rgb(179, 179, 179);
}
.button-projects:hover {
  color: rgb(255, 255, 255);
}
.button-projects:hover {
  opacity: 1;
  transition: all 1s;
}
.box-projects{
  position: relative;
  height: 480px;
  align-items: center;
  justify-content: center;

}
.arrow-left,
.arrow-right{
  position:absolute;
  display: flex;
  background-color: #00000088;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 100%;
  z-index: 100;
  cursor: pointer;
  transform: scale(.9);
  transition: all .5s;
}
.arrow-left:hover,
.arrow-right:hover{
  transition: all .5s;
  transform: scale(1);
  background-color: #000000cc;
}
.arrow-left{
  left: 0;
}
.arrow-right{
  right: 0;
  top: 0;
}
.fas.fa-angle-left,
.fas.fa-angle-right{
  color: white;
  font-size: 30px;
  

}

