@keyframes moveY_projects {
  0% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0);
  }
}
section#projetos {
  width: 100vw;
  height: 105vh;
  overflow: hidden;
  background-image: url(_images/question-mark-gab28eaba7_1920.jpg);
  background-size: cover;
  z-index: 10000;
  transition: all ease 1s;
}
.father-box{
  display: flex;
  align-items: center;
  height: 100%;

}
.projects {
  display: flex;
  width: 2000px;
  transition: all 1s;
  
}
.title-header{
  text-align: center;
}
.card {
  width: 30rem;
  display: flex;
  height: 45rem;
  border-radius: 15px;
  margin: 0px;
  position: relative;
  text-align: center;
  justify-content: center;
  align-items: center;
  transform: scale(0.9);
  transition: all 0.5s ease 0s;
}
.card:hover {
  transform: scale(1);
  transition: all 0.5s;
}


.card-image-wrapper {
  width: 100%;
  height: 100%;
  background-color: #00000085;
}
.card-image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}
.card-info {
  position: absolute;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s;
  background: rgba(85, 85, 85, 0.301);

}
.card-info:hover {
  opacity: 1;
  animation: moveY_projects 0.4s;
  transition: all 0.3s;
  border-radius: 15px;
}
.card-info h2 {
  font-size: 30pt;
  color: #6000c0;
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: #ffffff;
  font-family: "Baloo 2";
}
.card-info h3{
  color: aqua;
}
.card-info p{
  color: #ffffff;
}
.button-projects {
  width: 200px;
  padding: 10px;
  font-family: "Baloo 2";
  background: -webkit-linear-gradient(to right, #a044ff, #6a3893);
  background: linear-gradient(to right, #6000c0, #5f179b);
  text-transform: uppercase;
  border-radius: 10px;
  letter-spacing: 1px;
  border: 0;
  font-size: 10pt;
  cursor: pointer;
  transition: all 1s;
  opacity: 0.9;
  color: rgb(179, 179, 179);
}
.button-projects:hover {
  color: rgb(255, 255, 255);
}
.button-projects:hover {
  opacity: 1;
  transition: all 1s;
}
.box-projects{
  position: relative;
  height: 48rem;
  align-items: center;
  justify-content: center;
}
.arrow-left,
.arrow-right{

  position:absolute;
  display: flex;
  background-color: #00000088;
  justify-content: center;
  align-items: center;
  width: 7rem;
  height: 48rem;
  z-index: 100;
  cursor: pointer;
  transition: all .5s;
  opacity: .7;
}
.arrow-left:hover,
.arrow-right:hover{
  transition: all .5s;
  background-color: #000000cc;
  opacity: 1;
}
.arrow-left{

}
.arrow-right{
  right: 0;
}

.fas.fa-angle-left,
.fas.fa-angle-right{
  color: white;
  font-size: 30px;
  

}

