@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@600&family=Josefin+Slab:ital,wght@0,400;0,600;1,500&family=Mulish:ital,wght@0,300;1,300&display=swap");
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css);

* {
  margin: 0;
  padding: 0;
}

@keyframes zoom {
  0% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes moveY {
  0% {
    transform: translateY(350px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes Rotate_degree {
  0% {
    transform: rotateY(-40deg);
    opacity: 0;
  }
  100% {
    transform: rotateY(0deg);
    opacity: 1;
  }
}
@keyframes xTranslate {
  0% {
    transform: translateX(15em);
  }
  100% {
    transform: translateX(20em);
  }
}
@keyframes spin {
  to {
    transform: rotate(2turn);
  }
}
@media (max-width: 599px) {
  .show-menu .sidebar {
    background-color: rgb(62, 0, 231);
    width: 100vw;
    }
    .conhecimento{
      margin: 15px 50px;
    }
    .conhecimentos {
      position: relative;
      top: 20px;
       
      /* grid-template-columns: repeat(16, 1fr);
      grid-template-rows: repeat(8, 48px);  */
      margin-top: 15px;
      opacity: 0;
      animation: moveY 1s;
      opacity: 1;
    }
    
    .conhecimento:nth-child(2) {
      grid-column: 7 / 9;
      grid-row: 1 / 3;
    }
  
    .conhecimento:nth-child(3) {
      grid-column: 12 / 14;
      grid-row: 2 / 5;
    }
    .conhecimento:nth-child(4) {
      grid-column: 2 / 3;
      grid-row: 6 / 8;
    }
  
    .conhecimento:nth-child(5) {
      grid-column: 7 / 8;
      grid-row: 7 / 8;
    }
  
    .conhecimento:nth-child(6) {
      grid-column: 12 / 1;
      grid-row: 6 / 8;
    }
  }

@media (min-width: 600px) {
  body {
    overflow-x: hidden;
  }
  .sidebar {
    width: 100vw;
    height: 100vh;
    right: 0;
  }
  .show-menu .sidebar {
    background-color: rgb(62, 0, 231);
  }
  
  .conhecimentos {
    position: relative;
    top: 20px;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(8, 48px); 
    margin-top: 15px;
    opacity: 0;
    animation: moveY 1s;
    opacity: 1;
  }
  .conhecimento:nth-child(1) {
    grid-column: 2 / 5;
    grid-row: 2 / 4;
    
  }

  .conhecimento:nth-child(2) {
    grid-column: 8 / 10;
    grid-row: 1 / 3;
  }

  .conhecimento:nth-child(3) {
    grid-column: 13 / 16;
    grid-row: 2 / 5;
  }
  .conhecimento:nth-child(4) {
    grid-column: 2 / 5;
    grid-row: 7 / 8;
  }

  .conhecimento:nth-child(5) {
    grid-column: 8 / 10;
    grid-row: 8 / 8;
  }

  .conhecimento:nth-child(6) {
    grid-column: 13 / 15;
    grid-row: 7 / 8;
  }
  
  .menu {
    align-items: center;
  }
}

}
html {
  overflow-x: hidden;
}
body {
  position: relative;
  align-items: center;
  display: flex;
  justify-content: center;
}
.cover.-true{
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to right, #0f0d11dc, #150522dc);
  z-index: 10000;
  transition: all .2s;
   align-items: center;
  justify-content: center;
  display: flex;
}

.spin.-true {
  width: 80px;
  height: 80px;
  border: 6px solid #e5e5e5;
  border-radius: 50%;
  border-top-color: rgb(0, 60, 255);
  color: wheat;
  animation: spin 1s infinite;
  transition: all .2s;
}
.hamburguer {
  background-color: rgba(34, 34, 34, 0);
  width: 2.3rem;
  height: 2rem;
  position: fixed;
  border-radius: 10%;
  z-index: 10000;
  top: 5rem;
  right: 2%;
  margin: 5px 5px 5px 5px;
  cursor: pointer;
  transition: all 1s;
}
a {
  text-decoration: none;
}
.show-menu .hamburguer {
  right: 10px;
  background-color: rgba(94, 94, 94, 0);
}
.show-menu #line1 {
  transform: rotate(45deg) translate(0.65rem, -0.05rem);
  transition: all 0.5s;
}
.show-menu #line2 {
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
}
.show-menu #line3 {
  transform: rotate(-45deg) translate(0.8rem, -0.1rem);
  transition: all 0.5s;
}
.hamburguer:hover {
  transition-duration: 1s;
  background-color: rgba(94, 94, 94, 0.425);
  border-radius: 10%;
}
.container.show-menu .hamburguer:hover {
  background-color: rgba(219, 3, 3, 0);
}
.show-menu .line {
  box-shadow: 2px 2px 2px rgba(94, 94, 94, 0);
}
.line {
  margin: 5.5px 7px;
  width: 1.4rem;
  height: 3px;
  background-color: cornsilk;
  box-shadow: 2px 2px 2px rgba(94, 94, 94, 0.781);
}
header {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.image-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(41, 41, 43, 0.986);
  animation: zoom 25s;
}
.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.banner {
  position: absolute;
  top: 35%;
  left: 13%;
  color: white;
  animation: Rotate_degree 2s;
  margin-right: 5px;
  z-index: 100;
}
.banner h1 {
  font-family: "Baloo 2";
  font-size: 48pt;
  font-weight: 200;
  text-shadow: 8px 8px 15px rgba(94, 94, 94, 0.432);
  margin-bottom: 24px;
  line-height: 3.5rem;
  animation: moveY 1s;
}
.arrow {
  position: fixed;
  width: 3rem;
  height: 3rem;
  bottom: 30px;
  right: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 50%;
  background: -webkit-linear-gradient(to right, #a044ff, #6a3893);
  background: linear-gradient(to right, #6000c0, #5f179b);
  opacity: 0;
  transition: 1s;
}
.arrow-up {
  position: fixed;
  width: 3rem;
  height: 3rem;
  bottom: 30px;
  right: 20px;
  cursor: pointer;
}
.arrow-up {
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 50%;
  background: -webkit-linear-gradient(to right, #a044ff, #6a3893);
  background: linear-gradient(to right, #6000c0, #5f179b);
  opacity: 0.8;
  transition: 0.5s;
}
.arrow-up:hover {
  transition: 0.3s;
  opacity: 1;
}
.fas.fa-arrow-up {
  font-size: 1.8rem;
  cursor: pointer;
  color: white;
}

.banner p {
  font-family: "Josefin Slab";
  font-size: 30pt;
  text-shadow: 8px 8px 15px rgba(94, 94, 94, 0.432);
  margin-bottom: 24px;
  animation: moveY 2s;
}
.banner button {
  width: 200px;
  padding: 10px;
  font-family: "Baloo 2";
  background: -webkit-linear-gradient(to right, #a044ff, #6a3893);
  background: linear-gradient(to right, #6000c0, #5f179b);
  text-transform: uppercase;
  -webkit-border-top-left-radius: 30px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 20px;
  -moz-border-radius-topleft: 30px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 20px;
  border-top-left-radius: 30px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 20px;
  border: 0;
  letter-spacing: 1px;
  font-size: 10pt;
  cursor: pointer;
  transition: all 1s;
  opacity: 0.6;
  animation: moveY 3s;
}
.banner button a {
  color: whitesmoke;
}
.banner button:hover {
  color: rgb(255, 255, 255);
  opacity: 1;
  transition: all 1s;
}
.sidebar {
  width: 20rem;
  height: 100vh;
  position: fixed;
  background-color: rgba(62, 0, 231, 0.596);
  z-index: 1000;
  overflow: hidden;
  top: 0%;
  right: -20em;
  transition-duration: 1s;
}
.show-menu .sidebar {
  right: 0%;
}
.sidebar:hover {
  transition-duration: 1s;
  background-color: rgb(62, 0, 231);
}
.menu a {
  top: 30%;
  text-decoration: none;
  color: white;
  transition-duration: 0.7s;
}
.menu a:hover {
  transition-duration: 0.7s;
  color: rgb(126, 125, 126);
}
.menu {
  margin: 60% 50px;
}
.menu li {
  font-family: "Mulish";
  margin-bottom: 40px;
  list-style: none;
  font-size: 18pt;
}
.social {
  z-index: 100;
  position: absolute;
  bottom: 5rem;
}
.social i {
  z-index: 100;
  margin: 0 10px 0 0;
  text-decoration: none;
  list-style: none;
  color: rgb(255, 255, 255);
  font-size: 24pt;
  transition-duration: 0.5s;
}
.social i:hover {
  transition-duration: 0.5s;
  color: rgb(126, 125, 126);
}

/* Section conhecimentos*/

.sessao-conhecimentos {
  width: 100%;
  display: block;
  height: 110vh;
  background-color: rgba(41, 41, 43, 0.986);
  
}
.foto-conhecimento {
  position: absolute;
  width: 100%;
  height: 100vh;
}
.foto-conhecimento img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  opacity: 0.7;
  z-index: 0;
}

.secao-header h2 {
  font-size: 30pt;
  font-family: "Baloo 2";
  color: rgb(0, 217, 255);
  text-align: center;
  z-index: 100;
  font-weight: 900;
}
.traco {
  width: 300px;
  height: 3px;
  background-color: #6000c0;
  margin: auto;
  margin-bottom: 20px;
}

.conhecimentos2 {
  position: relative;
  color: white;
  top: 20px;
  margin-top: 1em;
  opacity: 0;
}

.conhecimento-texto {
  justify-content: center;
  color: white;
}
.conhecimento-header {
  font-size: 1.7rem;
  text-align: center;
  margin-bottom: 5px;
  border-bottom: solid 2px #6000c0;
  color: #cccaca;
  display: flex;
  align-items: center;
  row-gap: 2rem;
}

section#projetos {
  width: 100vw;
  height: 100vh;
  background-color: rgb(201, 199, 199);
}
.contato {
  width: 100vw;
  height: 90vh;
  background-color: rgba(66, 66, 66, 0.158);
  color: white;
}
iframe {
  width: 20%;
  height: 10%;
  position: absolute;
  right: 1%;
}
footer {
  position: relative;
  bottom: 0;
  width: 100vw;
  height: 10vh;
  background-color: #0b0070;
  color: white;
  text-align: center;
}

.icones {
  margin-left: 15px;
  float: left;
}
.icones i {
  padding: 4px;
  font-size: 24pt;
}
i.fa-github {
  border-radius: 50%;
}
